## Introduction au dataset

* Lire all-age.csv dans un DataFrame et l'assigner à la variable all_ages.
* Lire recent-grads.csv dans un DataFrame et l'assigner à la variable recent_grads.
* Afficher les 5 premières lignes de all_ages et recent_grads.

In [6]:
import pandas as pd

In [7]:
all_ages = pd.read_csv("all-ages.csv")
recent_grads = pd.read_csv("recent-grads.csv")

In [8]:
all_ages[0:5]

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0

In [9]:
recent_grads[0:5]

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0

## Nombre d'étudiants par catégorie de Major

* Retourner les valeurs uniques de Major_category.

       * Utiliser la méthode Series.unique() pour retourner les valeurs uniques d'une Series.

In [10]:
all_ages["Major_category"]

0      Agriculture & Natural Resources
1      Agriculture & Natural Resources
2      Agriculture & Natural Resources
3      Agriculture & Natural Resources
4      Agriculture & Natural Resources
                    ...
168                           Business
169                           Business
170                           Business
171          Humanities & Liberal Arts
172          Humanities & Liberal Arts
Name: Major_category, Length: 173, dtype: object

In [11]:
all_ages["Major_category"].unique()

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', nan,
       'Psychology & Social Work', 'Arts', 'Business'], dtype=object)

___________________________________________________________________
* Pour chaque valeur unique (utilisation d'une boucle for ?) :

        * Retourner toutes les lignes où Major_category vaut cette valeur unique.
        * Calculer le nombre total d'étudiants représentant cette catégorie de major (colonne Total à sommer).
        * Vous garderez en mémoire ce résultat sous la forme d'un dictionnaire contenant une Major_category en clé et le nombre d'étudiants en valeur.

Mission :

* Créer une fonction dans laquelle vous utiliserez la colonne Total pour calculer le nombre d'étudiants pour chaque catégorie de Major (Major_category) dans chaque dataset.

        * Stocker le résultat dans 2 dictionnaires distincts.
        * La clé pour chaque dictionnaire sera Major_category et la valeur le total d'étudiants.
        * Pour le dataset all_ages, stocker le résultat dans un dictionnaire qu'on nommera aa_cat_counts.
        * Pour le dataset recent_grads, stocker le résultat dans un dictionnaire qu'on nommera rg_cat_counts.

* Autre méthode : Utiliser un pivot de table.
* Afficher les 2 dictionnaires

In [12]:
#Astuce : nombre total d'étudiants
recent_grads["Total"].sum()

6771464.0

In [13]:
#major_total = {}

In [14]:
#import numpy

#for n in all_ages:
    #all_ages["Major_category"].unique()
    #x= all_ages.pivot_table(index="Major_category", values="Total", aggfunc= numpy.sum)
    #major_total[n]= x

---------

In [15]:
def calculate_major_cat_totals(df):
    cats = df["Major_category"].unique()
    counts_dictionary = dict()

    for c in cats:
        major_df = df[df["Major_category"] == c]
        total = major_df["Total"].sum()
        counts_dictionary[c] = total
    return counts_dictionary

In [16]:
aa_cat_counts = dict()
aa_cat_counts = calculate_major_cat_totals(all_ages)
print(aa_cat_counts)

{'Agriculture & Natural Resources': 632437.0, 'Biology & Life Science': 1338186.0, 'Engineering': 3576013.0, 'Humanities & Liberal Arts': 3738335.0, 'Communications & Journalism': 1803822.0, 'Computers & Mathematics': 1781378.0, 'Industrial Arts & Consumer Services': 1018072.0, 'Education': 4700118.0, 'Law & Public Policy': 902926.0, 'Interdisciplinary': 45199.0, 'Health': 2950859.0, 'Social Science': 2654125.0, 'Physical Sciences': 1013152.0, nan: 0.0, 'Psychology & Social Work': 1987278.0, 'Arts': 1805865.0, 'Business': 9858741.0}

In [18]:
rg_cat_counts = dict()
rg_cat_counts = calculate_major_cat_totals(recent_grads)
print(rg_cat_counts)

{'Engineering': 537583.0, 'Business': 1302376.0, 'Physical Sciences': 183363.0, 'Law & Public Policy': 179107.0, 'Computers & Mathematics': 299008.0, 'Agriculture & Natural Resources': 79981.0, 'Industrial Arts & Consumer Services': 227357.0, 'Arts': 357130.0, 'Health': 463230.0, 'Social Science': 529966.0, nan: 0.0, 'Biology & Life Science': 453862.0, 'Education': 559129.0, 'Humanities & Liberal Arts': 713468.0, 'Psychology & Social Work': 481007.0, 'Communications & Journalism': 392601.0, 'Interdisciplinary': 12296.0}

In [20]:
import numpy as np
aa_cat_counts =dict(all_ages.pivot_table(index="Major_category", values="Total", aggfunc=np.sum))

In [21]:
print(aa_cat_counts)

{'Total': Major_category
Agriculture & Natural Resources         632437.0
Arts                                   1805865.0
Biology & Life Science                 1338186.0
Business                               9858741.0
Communications & Journalism            1803822.0
Computers & Mathematics                1781378.0
Education                              4700118.0
Engineering                            3576013.0
Health                                 2950859.0
Humanities & Liberal Arts              3738335.0
Industrial Arts & Consumer Services    1018072.0
Interdisciplinary                        45199.0
Law & Public Policy                     902926.0
Physical Sciences                      1013152.0
Psychology & Social Work               1987278.0
Social Science                         2654125.0
Name: Total, dtype: float64}

## Taux de jobs à faible salaire

* Utiliser les colonnes "Low_wage_jobs" et "Total" pour calculer la proportion de jeunes diplômés qui ont du trouver des jobs à faible salaire (recent_grads).
        * Souvenez-vous que vous pouvez utiliser la méthodes Series.sum() pour retourner la somme des valeurs d'une colonne.

* Stocker le résultat dans la variable low_wage_proportion et afficher le.

In [22]:
recent_grads.sum()

Rank                    1234567891011121314151617181920212223242526272...
Major_code                                                         660405
Total                                                         6.77146e+06
Sample_size                                                         61534
Men                                                           2.86882e+06
Women                                                         3.89146e+06
ShareWomen                                                        89.7382
Employed                                                      5.39246e+06
Full_time                                                     4.49962e+06
Part_time                                                     1.52714e+06
Full_time_year_round                                          3.40427e+06
Unemployed                                                         417824
Unemployment_rate                                                  11.696
Median                                                         6.8618e+06
P25th                                                         5.04325e+06
P75th                                                          8.8105e+06
College_jobs                                                  2.13143e+06
Non_college_jobs                                              2.29508e+06
Low_wage_jobs                                                      667405
dtype: object

In [33]:
low_wage_proportion = recent_grads["Low_wage_jobs"].sum() / recent_grads["Total"].sum()

In [34]:
print(low_wage_proportion)

0.09856140415130317

## Comparer des datasets

* Utiliser une boucle for pour parcourir toutes les majors.


            * Pour chaque Major et chaque DataFrame, filtrer seulement les lignes du DataFrame correspondant à cette major.
            * Comparer les valeurs pour la colonne "Unemployment_rate" pour voir lequel des 2 DataFrames possèdent la valeur la plus basse.
            * Incrémenter (cad ajouter 1) à la variable rg_lower_count si la valeur pour Unemployment_rate est plus petite dans le dataframe recent_grads que dans le dataframe all_ages.
 
 
* Afficher le résultat rg_lower_count.

In [60]:
rg_lower_count = 0

for n in recent_grads['Major'].unique():
    #print("Pour la majeur : "+n)
    #print("--------------------------------------------")
    #print('Recent')
    rg_unemp_rate = recent_grads.loc[recent_grads['Major']== n]['Unemployment_rate'].values
    #print("All")
    aa_unemp_rate = all_ages.loc[all_ages['Major']== n]['Unemployment_rate'].values
    if rg_unemp_rate < aa_unemp_rate:
        rg_lower_count += 1

<ipython-input-60-e7e279d014e1>:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if rg_unemp_rate < aa_unemp_rate:

In [61]:
print(rg_lower_count)

42

In [62]:
recent_grads["Major"].unique()

array(['PETROLEUM ENGINEERING', 'MINING AND MINERAL ENGINEERING',
       'METALLURGICAL ENGINEERING',
       'NAVAL ARCHITECTURE AND MARINE ENGINEERING',
       'CHEMICAL ENGINEERING', 'NUCLEAR ENGINEERING', 'ACTUARIAL SCIENCE',
       'ASTRONOMY AND ASTROPHYSICS', 'MECHANICAL ENGINEERING',
       'ELECTRICAL ENGINEERING', 'COMPUTER ENGINEERING',
       'AEROSPACE ENGINEERING', 'BIOMEDICAL ENGINEERING',
       'MATERIALS SCIENCE', 'ENGINEERING MECHANICS PHYSICS AND SCIENCE',
       'BIOLOGICAL ENGINEERING',
       'INDUSTRIAL AND MANUFACTURING ENGINEERING', 'GENERAL ENGINEERING',
       'ARCHITECTURAL ENGINEERING', 'COURT REPORTING', 'COMPUTER SCIENCE',
       'FOOD SCIENCE', 'ELECTRICAL ENGINEERING TECHNOLOGY',
       'MATERIALS ENGINEERING AND MATERIALS SCIENCE',
       'MANAGEMENT INFORMATION SYSTEMS AND STATISTICS',
       'CIVIL ENGINEERING', 'CONSTRUCTION SERVICES',
       'OPERATIONS LOGISTICS AND E-COMMERCE', 'MISCELLANEOUS ENGINEERING',
       'PUBLIC POLICY', 'ENVIRONMENTAL ENGINEERING',
       'ENGINEERING TECHNOLOGIES', 'MISCELLANEOUS FINE ARTS',
       'GEOLOGICAL AND GEOPHYSICAL ENGINEERING', 'NURSING', 'FINANCE',
       'ECONOMICS', 'BUSINESS ECONOMICS',
       'INDUSTRIAL PRODUCTION TECHNOLOGIES', nan, 'ACCOUNTING',
       'MATHEMATICS', 'COMPUTER AND INFORMATION SYSTEMS', 'PHYSICS',
       'MEDICAL TECHNOLOGIES TECHNICIANS', 'INFORMATION SCIENCES',
       'STATISTICS AND DECISION SCIENCE', 'APPLIED MATHEMATICS',
       'PHARMACOLOGY', 'OCEANOGRAPHY',
       'ENGINEERING AND INDUSTRIAL MANAGEMENT',
       'MEDICAL ASSISTING SERVICES', 'MATHEMATICS AND COMPUTER SCIENCE',
       'COMPUTER PROGRAMMING AND DATA PROCESSING',
       'COGNITIVE SCIENCE AND BIOPSYCHOLOGY', 'SCHOOL STUDENT COUNSELING',
       'INTERNATIONAL RELATIONS', 'GENERAL BUSINESS', 'ARCHITECTURE',
       'INTERNATIONAL BUSINESS',
       'PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION',
       'MOLECULAR BIOLOGY',
       'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION',
       'AGRICULTURE PRODUCTION AND MANAGEMENT', 'GENERAL AGRICULTURE',
       'MISCELLANEOUS ENGINEERING TECHNOLOGIES',
       'MECHANICAL ENGINEERING RELATED TECHNOLOGIES', 'GENETICS',
       'MISCELLANEOUS SOCIAL SCIENCES', 'UNITED STATES HISTORY',
       'INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY',
       'AGRICULTURAL ECONOMICS', 'PHYSICAL SCIENCES',
       'MILITARY TECHNOLOGIES', 'CHEMISTRY',
       'BUSINESS MANAGEMENT AND ADMINISTRATION',
       'MARKETING AND MARKETING RESEARCH',
       'POLITICAL SCIENCE AND GOVERNMENT', 'GEOGRAPHY', 'MICROBIOLOGY',
       'COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY',
       'BIOCHEMICAL SCIENCES', 'BOTANY',
       'COMPUTER NETWORKING AND TELECOMMUNICATIONS',
       'GEOLOGY AND EARTH SCIENCE',
       'HUMAN RESOURCES AND PERSONNEL MANAGEMENT',
       'PRE-LAW AND LEGAL STUDIES',
       'MISCELLANEOUS HEALTH MEDICAL PROFESSIONS',
       'PUBLIC ADMINISTRATION', 'GEOSCIENCES', 'SOCIAL PSYCHOLOGY',
       'ENVIRONMENTAL SCIENCE', 'COMMUNICATIONS',
       'CRIMINAL JUSTICE AND FIRE PROTECTION',
       'COMMERCIAL ART AND GRAPHIC DESIGN', 'JOURNALISM',
       'MULTI-DISCIPLINARY OR GENERAL SCIENCE',
       'ADVERTISING AND PUBLIC RELATIONS',
       'AREA ETHNIC AND CIVILIZATION STUDIES', 'SPECIAL NEEDS EDUCATION',
       'PHYSIOLOGY', 'CRIMINOLOGY', 'NUTRITION SCIENCES',
       'HEALTH AND MEDICAL ADMINISTRATIVE SERVICES',
       'COMMUNICATION TECHNOLOGIES',
       'TRANSPORTATION SCIENCES AND TECHNOLOGIES',
       'NATURAL RESOURCES MANAGEMENT', 'NEUROSCIENCE',
       'MULTI/INTERDISCIPLINARY STUDIES',
       'ATMOSPHERIC SCIENCES AND METEOROLOGY', 'FORESTRY', 'SOIL SCIENCE',
       'GENERAL EDUCATION', 'HISTORY',
       'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES',
       'INTERCULTURAL AND INTERNATIONAL STUDIES',
       'SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION',
       'COMMUNITY AND PUBLIC HEALTH', 'MATHEMATICS TEACHER EDUCATION',
       'EDUCATIONAL ADMINISTRATION AND SUPERVISION',
       'HEALTH AND MEDICAL PREPARATORY PROGRAMS', 'MISCELLANEOUS BIOLOGY',
       'BIOLOGY', 'SOCIOLOGY', 'MASS MEDIA',
       'TREATMENT THERAPY PROFESSIONS', 'HOSPITALITY MANAGEMENT',
       'LANGUAGE AND DRAMA EDUCATION',
       'LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE',
       'MISCELLANEOUS EDUCATION', 'INTERDISCIPLINARY SOCIAL SCIENCES',
       'ECOLOGY', 'SECONDARY TEACHER EDUCATION',
       'GENERAL MEDICAL AND HEALTH SERVICES',
       'PHILOSOPHY AND RELIGIOUS STUDIES', 'ART AND MUSIC EDUCATION',
       'ENGLISH LANGUAGE AND LITERATURE', 'ELEMENTARY EDUCATION',
       'PHYSICAL FITNESS PARKS RECREATION AND LEISURE', 'LIBERAL ARTS',
       'FILM VIDEO AND PHOTOGRAPHIC ARTS', 'GENERAL SOCIAL SCIENCES',
       'PLANT SCIENCE AND AGRONOMY',
       'SCIENCE AND COMPUTER TEACHER EDUCATION', 'PSYCHOLOGY', 'MUSIC',
       'PHYSICAL AND HEALTH EDUCATION TEACHING',
       'ART HISTORY AND CRITICISM', 'FINE ARTS',
       'FAMILY AND CONSUMER SCIENCES', 'SOCIAL WORK', 'ANIMAL SCIENCES',
       'VISUAL AND PERFORMING ARTS', 'TEACHER EDUCATION: MULTIPLE LEVELS',
       'MISCELLANEOUS PSYCHOLOGY',
       'HUMAN SERVICES AND COMMUNITY ORGANIZATION', 'HUMANITIES',
       'THEOLOGY AND RELIGIOUS VOCATIONS', 'STUDIO ARTS',
       'COSMETOLOGY SERVICES AND CULINARY ARTS',
       'MISCELLANEOUS AGRICULTURE', 'ANTHROPOLOGY AND ARCHEOLOGY',
       'COMMUNICATION DISORDERS SCIENCES AND SERVICES',
       'EARLY CHILDHOOD EDUCATION', 'OTHER FOREIGN LANGUAGES',
       'DRAMA AND THEATER ARTS', 'COMPOSITION AND RHETORIC', 'ZOOLOGY',
       'EDUCATIONAL PSYCHOLOGY', 'CLINICAL PSYCHOLOGY',
       'COUNSELING PSYCHOLOGY', 'LIBRARY SCIENCE'], dtype=object)

In [63]:
all_ages['Major'].unique()

array(['GENERAL AGRICULTURE', 'AGRICULTURE PRODUCTION AND MANAGEMENT',
       'AGRICULTURAL ECONOMICS', 'ANIMAL SCIENCES', 'FOOD SCIENCE',
       'PLANT SCIENCE AND AGRONOMY', 'SOIL SCIENCE',
       'MISCELLANEOUS AGRICULTURE', 'ENVIRONMENTAL SCIENCE', 'FORESTRY',
       'NATURAL RESOURCES MANAGEMENT', 'ARCHITECTURE',
       'AREA ETHNIC AND CIVILIZATION STUDIES', 'COMMUNICATIONS',
       'JOURNALISM', 'MASS MEDIA', 'ADVERTISING AND PUBLIC RELATIONS',
       'COMMUNICATION TECHNOLOGIES', 'COMPUTER AND INFORMATION SYSTEMS',
       'COMPUTER PROGRAMMING AND DATA PROCESSING', 'COMPUTER SCIENCE',
       'INFORMATION SCIENCES',
       'COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY',
       'COMPUTER NETWORKING AND TELECOMMUNICATIONS',
       'COSMETOLOGY SERVICES AND CULINARY ARTS', 'GENERAL EDUCATION',
       'EDUCATIONAL ADMINISTRATION AND SUPERVISION',
       'SCHOOL STUDENT COUNSELING', 'ELEMENTARY EDUCATION',
       'MATHEMATICS TEACHER EDUCATION',
       'PHYSICAL AND HEALTH EDUCATION TEACHING',
       'EARLY CHILDHOOD EDUCATION',
       'SCIENCE AND COMPUTER TEACHER EDUCATION',
       'SECONDARY TEACHER EDUCATION', 'SPECIAL NEEDS EDUCATION',
       'SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION',
       'TEACHER EDUCATION: MULTIPLE LEVELS',
       'LANGUAGE AND DRAMA EDUCATION', 'ART AND MUSIC EDUCATION',
       'MISCELLANEOUS EDUCATION', 'GENERAL ENGINEERING',
       'AEROSPACE ENGINEERING', 'BIOLOGICAL ENGINEERING',
       'ARCHITECTURAL ENGINEERING', 'BIOMEDICAL ENGINEERING',
       'CHEMICAL ENGINEERING', 'CIVIL ENGINEERING',
       'COMPUTER ENGINEERING', 'ELECTRICAL ENGINEERING',
       'ENGINEERING MECHANICS PHYSICS AND SCIENCE',
       'ENVIRONMENTAL ENGINEERING',
       'GEOLOGICAL AND GEOPHYSICAL ENGINEERING',
       'INDUSTRIAL AND MANUFACTURING ENGINEERING',
       'MATERIALS ENGINEERING AND MATERIALS SCIENCE',
       'MECHANICAL ENGINEERING', 'METALLURGICAL ENGINEERING',
       'MINING AND MINERAL ENGINEERING',
       'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'NUCLEAR ENGINEERING',
       'PETROLEUM ENGINEERING', 'MISCELLANEOUS ENGINEERING',
       'ENGINEERING TECHNOLOGIES',
       'ENGINEERING AND INDUSTRIAL MANAGEMENT',
       'ELECTRICAL ENGINEERING TECHNOLOGY',
       'INDUSTRIAL PRODUCTION TECHNOLOGIES',
       'MECHANICAL ENGINEERING RELATED TECHNOLOGIES',
       'MISCELLANEOUS ENGINEERING TECHNOLOGIES',
       'LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE',
       'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES',
       'OTHER FOREIGN LANGUAGES', 'FAMILY AND CONSUMER SCIENCES',
       'COURT REPORTING', 'PRE-LAW AND LEGAL STUDIES',
       'ENGLISH LANGUAGE AND LITERATURE', 'COMPOSITION AND RHETORIC',
       'LIBERAL ARTS', 'HUMANITIES', 'LIBRARY SCIENCE', 'BIOLOGY',
       'BIOCHEMICAL SCIENCES', 'BOTANY', 'MOLECULAR BIOLOGY', 'ECOLOGY',
       'GENETICS', 'MICROBIOLOGY', 'PHARMACOLOGY', 'PHYSIOLOGY',
       'ZOOLOGY', 'NEUROSCIENCE', 'MISCELLANEOUS BIOLOGY', 'MATHEMATICS',
       'APPLIED MATHEMATICS', 'STATISTICS AND DECISION SCIENCE',
       'MILITARY TECHNOLOGIES', 'MULTI/INTERDISCIPLINARY STUDIES',
       'INTERCULTURAL AND INTERNATIONAL STUDIES', 'NUTRITION SCIENCES',
       'MATHEMATICS AND COMPUTER SCIENCE',
       'COGNITIVE SCIENCE AND BIOPSYCHOLOGY',
       'INTERDISCIPLINARY SOCIAL SCIENCES',
       'PHYSICAL FITNESS PARKS RECREATION AND LEISURE',
       'PHILOSOPHY AND RELIGIOUS STUDIES',
       'THEOLOGY AND RELIGIOUS VOCATIONS', 'PHYSICAL SCIENCES',
       'ASTRONOMY AND ASTROPHYSICS',
       'ATMOSPHERIC SCIENCES AND METEOROLOGY', 'CHEMISTRY',
       'GEOLOGY AND EARTH SCIENCE', 'GEOSCIENCES', 'OCEANOGRAPHY',
       'PHYSICS', 'MATERIALS SCIENCE',
       'MULTI-DISCIPLINARY OR GENERAL SCIENCE', nan, 'PSYCHOLOGY',
       'EDUCATIONAL PSYCHOLOGY', 'CLINICAL PSYCHOLOGY',
       'COUNSELING PSYCHOLOGY',
       'INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY', 'SOCIAL PSYCHOLOGY',
       'MISCELLANEOUS PSYCHOLOGY', 'CRIMINAL JUSTICE AND FIRE PROTECTION',
       'PUBLIC ADMINISTRATION', 'PUBLIC POLICY',
       'HUMAN SERVICES AND COMMUNITY ORGANIZATION', 'SOCIAL WORK',
       'GENERAL SOCIAL SCIENCES', 'ECONOMICS',
       'ANTHROPOLOGY AND ARCHEOLOGY', 'CRIMINOLOGY', 'GEOGRAPHY',
       'INTERNATIONAL RELATIONS', 'POLITICAL SCIENCE AND GOVERNMENT',
       'SOCIOLOGY', 'MISCELLANEOUS SOCIAL SCIENCES',
       'CONSTRUCTION SERVICES',
       'TRANSPORTATION SCIENCES AND TECHNOLOGIES', 'FINE ARTS',
       'DRAMA AND THEATER ARTS', 'MUSIC', 'VISUAL AND PERFORMING ARTS',
       'COMMERCIAL ART AND GRAPHIC DESIGN',
       'FILM VIDEO AND PHOTOGRAPHIC ARTS', 'ART HISTORY AND CRITICISM',
       'STUDIO ARTS', 'MISCELLANEOUS FINE ARTS',
       'GENERAL MEDICAL AND HEALTH SERVICES',
       'COMMUNICATION DISORDERS SCIENCES AND SERVICES',
       'HEALTH AND MEDICAL ADMINISTRATIVE SERVICES',
       'MEDICAL ASSISTING SERVICES', 'MEDICAL TECHNOLOGIES TECHNICIANS',
       'HEALTH AND MEDICAL PREPARATORY PROGRAMS', 'NURSING',
       'PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION',
       'TREATMENT THERAPY PROFESSIONS', 'COMMUNITY AND PUBLIC HEALTH',
       'MISCELLANEOUS HEALTH MEDICAL PROFESSIONS', 'GENERAL BUSINESS',
       'ACCOUNTING', 'ACTUARIAL SCIENCE',
       'BUSINESS MANAGEMENT AND ADMINISTRATION',
       'OPERATIONS LOGISTICS AND E-COMMERCE', 'BUSINESS ECONOMICS',
       'MARKETING AND MARKETING RESEARCH', 'FINANCE',
       'HUMAN RESOURCES AND PERSONNEL MANAGEMENT',
       'INTERNATIONAL BUSINESS', 'HOSPITALITY MANAGEMENT',
       'MANAGEMENT INFORMATION SYSTEMS AND STATISTICS',
       'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION', 'HISTORY',
       'UNITED STATES HISTORY'], dtype=object)