# <font color=blue>La librairie Pandas</font>

## Introduction

* On peut strocker différents types de données dans un DataFrame
* Valeurs manquantes NaN sont faciles à remplacer
* Facilité pour extraire des valeurs

## Présentation du Dataset
* Lire un fichier CSV avec Pandas

In [1]:
import pandas as pd

In [2]:
food_info = pd.read_csv("food_info.csv")

In [3]:
food_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [4]:
print(type(food_info))

<class 'pandas.core.frame.DataFrame'>

## Exploration du DataFrame

In [5]:
#head() retourne les 5 premières lignes (par défaut)

#tail() retourne les 5 dernières lignes (par défaut)
food_info.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [6]:
#si on met un chiffre dans les parenthèses ça retoune le nombre de ligne choisie
print(food_info.head(2))

   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  ...  \
0          81.11     2.11            0.06           0.0           0.06  ...
1          81.11     2.11            0.06           0.0           0.06  ...

   Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  \
0    2499.0      684.0        2.32        1.5      60.0          7.0
1    2499.0      684.0        2.32        1.5      60.0          7.0

   FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0      51.368       21.021        3.043           215.0
1      50.489       23.426        3.012           219.0

[2 rows x 36 columns]

In [7]:
#afficher le nom des colonnes
column_names = food_info.columns
print(column_names)

Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)',
       'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg',
       'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)',
       'Cholestrl_(mg)'],
      dtype='object')

In [8]:
#shape
# dimensions du dataframe
dimensions = food_info.shape
print(dimensions)

(8618, 36)

In [9]:
# nombre de lignes
num_rows = dimensions[0]
print(num_rows)

8618

In [10]:
# Nombre de colonne
num_cols = dimensions[1]
print(num_cols)

36

In [11]:
# information générale du dataset
food_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8618 entries, 0 to 8617
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NDB_No           8618 non-null   int64
 1   Shrt_Desc        8618 non-null   object
 2   Water_(g)        8612 non-null   float64
 3   Energ_Kcal       8618 non-null   int64
 4   Protein_(g)      8618 non-null   float64
 5   Lipid_Tot_(g)    8618 non-null   float64
 6   Ash_(g)          8286 non-null   float64
 7   Carbohydrt_(g)   8618 non-null   float64
 8   Fiber_TD_(g)     7962 non-null   float64
 9   Sugar_Tot_(g)    6679 non-null   float64
 10  Calcium_(mg)     8264 non-null   float64
 11  Iron_(mg)        8471 non-null   float64
 12  Magnesium_(mg)   7936 non-null   float64
 13  Phosphorus_(mg)  8046 non-null   float64
 14  Potassium_(mg)   8208 non-null   float64
 15  Sodium_(mg)      8535 non-null   float64
 16  Zinc_(mg)        7917 non-null   float64
 17  Copper_(mg)      7363 non-null   float64
 18  Manganese_(mg)   6478 non-null   float64
 19  Selenium_(mcg)   6868 non-null   float64
 20  Vit_C_(mg)       7826 non-null   float64
 21  Thiamin_(mg)     7939 non-null   float64
 22  Riboflavin_(mg)  7961 non-null   float64
 23  Niacin_(mg)      7937 non-null   float64
 24  Vit_B6_(mg)      7677 non-null   float64
 25  Vit_B12_(mcg)    7427 non-null   float64
 26  Vit_A_IU         7932 non-null   float64
 27  Vit_A_RAE        7089 non-null   float64
 28  Vit_E_(mg)       5613 non-null   float64
 29  Vit_D_mcg        5319 non-null   float64
 30  Vit_D_IU         5320 non-null   float64
 31  Vit_K_(mcg)      4969 non-null   float64
 32  FA_Sat_(g)       8274 non-null   float64
 33  FA_Mono_(g)      7947 non-null   float64
 34  FA_Poly_(g)      7954 non-null   float64
 35  Cholestrl_(mg)   8250 non-null   float64
dtypes: float64(33), int64(2), object(1)
memory usage: 2.4+ MB

## Sélectionner une ligne d'un Dataframe Pandas

In [12]:
# loc[] permet de sélectionner des lignes et des colonnes par rapport à leurs positions

In [13]:
 # Objet Series représentant la ligne d'index 0 ou de position 1

In [14]:
food_info.loc[3]

NDB_No                    1004
Shrt_Desc          CHEESE BLUE
Water_(g)                42.41
Energ_Kcal                 353
Protein_(g)               21.4
Lipid_Tot_(g)            28.74
Ash_(g)                   5.11
Carbohydrt_(g)            2.34
Fiber_TD_(g)                 0
Sugar_Tot_(g)              0.5
Calcium_(mg)               528
Iron_(mg)                 0.31
Magnesium_(mg)              23
Phosphorus_(mg)            387
Potassium_(mg)             256
Sodium_(mg)               1146
Zinc_(mg)                 2.66
Copper_(mg)               0.04
Manganese_(mg)           0.009
Selenium_(mcg)            14.5
Vit_C_(mg)                   0
Thiamin_(mg)             0.029
Riboflavin_(mg)          0.382
Niacin_(mg)              1.016
Vit_B6_(mg)              0.166
Vit_B12_(mcg)             1.22
Vit_A_IU                   721
Vit_A_RAE                  198
Vit_E_(mg)                0.25
Vit_D_mcg                  0.5
Vit_D_IU                    21
Vit_K_(mcg)                2.4
FA_Sat_(g)              18.669
FA_Mono_(g)              7.778
FA_Poly_(g)                0.8
Cholestrl_(mg)              75
Name: 3, dtype: object

In [15]:
# KeyError
food_info.loc[8620]

KeyError: 8620

In [ ]:
type(food_info.loc[0])

* Assigner la 100e ligne du dataframe food_info à la variable row_100

In [ ]:
row_100 = food_info.loc[99]
print(row_100)

In [ ]:
food_info.head(100)

## Les types de données Pandas

In [ ]:
row_100

In [ ]:
# object valeur de type chaine de caractère

In [ ]:
# int valeur de type entier

In [ ]:
# float valeur de type décimal

In [ ]:
# datetime valeur de type time (temps)

In [ ]:
# bool valeur de type booléen (Vrai/Faux)

In [ ]:
print(food_info.dtypes)

## Sélectionner plusieurs lignes

In [ ]:
# Dataframe contenant les lignes d'index 3, 4, 5 et 6
food_info.loc[3:6]

In [ ]:
# Dataframe contenant les lignes d'index 2, 5 et 10.

In [ ]:
# méthode 1
two_five_ten = [2, 5, 10]
food_info.loc[two_five_ten]

In [ ]:
# méthode 2
food_info.loc[[2, 5, 10]]

Exo
* Sélectionner les 5 dernières lignes de food_info et assigner le résultat à la variable last_row.

In [ ]:
food_info.loc[8613:8617]

In [ ]:
food_info.shape

In [ ]:
last_row = food_info.tail()
last_row

In [ ]:
num_rows = food_info.shape[0]
last_rows = food_info.loc[num_rows - 5: num_rows - 1]
last_rows

## Sélectionner une colonne plutôt qu'une ligne

In [ ]:
# Objet Series représentant la colonne "NDB_No".

In [ ]:
ndb_col = food_info["NDB_No"]

In [ ]:
# 2e méthode en faisant intervenir une variable pour le nom de la colonne
col_name = "NDB_No"
ndb_col = food_info[col_name]

In [ ]:
print(ndb_col)

Exo
* Assigner la colonne "Protein_(g)" à la variable protein.
* Assigner la colonne "Cholestrl_(mg)" à la variable cholesterol.
* Afficher les résultats.

In [ ]:
protein = food_info[["Protein_(g)"]]
cholesterol = food_info["Cholestrl_(mg)"]

In [ ]:
protein

In [ ]:
cholesterol

## Sélectionner plusieurs colonnes

In [ ]:
columns = ["Zinc_(mg)", "Copper_(mg)"]
zinc_copper = food_info[columns]

In [ ]:
# directement
zinc_copper = food_info[["Zinc_(mg)", "Copper_(mg)"]]
print(zinc_copper)

exo
* Sélectionner les colonnes "Shrt_Desc", "Selenium(mcg)", "Thiamin_(mg)" et assigner le dataframe résultant à la variable selenium_thiamin.
* Afficher le résultat

In [ ]:
selenium_thiamin = food_info[["Shrt_Desc", "Selenium_(mcg)", "Thiamin_(mg)"]]
selenium_thiamin

## Cas pratique

Sélectionner et afficher seulement les colonnes qui utilisent comme unité de mesure les grammes (c'est à dire qui se termine par "(g)" ). Pour cela :

* Utiliser l'attribut columns pour retourner le nom des colonnes du dataframe food_info et convertir en liste utilisant la méthode tolist()
* Créer une nouvelle liste qu'on nommera gram_columns, contenant seulement les colonnes se terminant par "(g)". *Indice: la méthode endswith() retourne True si l'objet sur lequel on l'applique se termine par l'élément entre parenthèse. Exp : total(g).endswith("(g)") retourne True* Une boucle for est fortement conseillé pour parcourir tous les noms de colonne.
* Sélectionner les colonnes de gram_columns pour le dataframe food_info et assigner le dataframe résultat à la variable gram_df
* Afficher les 3 premières valeurs de ce dataframe gram_df

In [ ]:
colum = food_info.columns
colum

In [ ]:
colum.tolist()

In [ ]:
gram_columns = []

for n in colum:
    if n.endswith("(g)") == True:
        gram_columns.append(n)
    
    
print(gram_columns)

In [ ]:
gram_df = food_info[gram_columns]
gram_df

In [ ]:
gram_df[0:3]

#ou gram_df.head(3)

# <font color=blue>Manipulation de données avec Pandas</font>

## Introduction

In [ ]:
# Score = 2 x protein - 0.75 x Lipid

In [ ]:
import pandas as pd

In [ ]:
food_info = pd.read_csv("food_info.csv")
food_info

In [ ]:
col_names1 = food_info.columns.tolist()
print(col_names1)

In [ ]:
food_info.head(3)

## Transformer une colonne

In [ ]:
div_1000 = food_info['Iron_(mg)'] / 1000

In [ ]:
# ce code va diviser toute la colonne Iron_(mg) par 1000

In [ ]:
div_1000

In [ ]:
iron = food_info["Iron_(mg)"]
iron

In [ ]:
# On va Ajouter 100 à chaque valeur dans la colonne et retourne un nouvelle objet Series

In [ ]:
add_100 = food_info["Iron_(mg)"] + 100

In [ ]:
# Soustraire 100 à chaque valeur de la colonne et retourne un objet Series
sub_100 = food_info["Iron_(mg)"] - 100

In [ ]:
# Multiplier chaque valeur de la coloonne par 2
mult_2 = food_info["Iron_(mg)"] * 2

exo
* Diviser la colonne "Sodium_(mg)" par 1000 pour convertir cette colonne en grammes et assigner le résultat à la variable sodium_grams.
* Multiplier la colonne "Sugar_Tot_(g)" par 1000 pour convertir en milligrammes et assigner la résultat à la variable sugar_milligrams.

In [ ]:
sodium_grams = food_info["Sodium_(mg)"] / 1000

In [ ]:
sugar_milligrams = food_info["Sugar_Tot_(g)"] * 1000

In [ ]:
sodium_grams

In [ ]:
sugar_milligrams

## Opérations mathématiques entre colonnes

In [ ]:
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]
print(water_energy[0:5])

In [ ]:
print(food_info[["Water_(g)", "Energ_Kcal"]][0:5])

Exo
* Diviser la colonne "Protein(g)" par la colonne "Water_(g)" et assigner le résultat à la variable grams_of_protein_per_of_water.
* Additionner les colonnes "Calcium(mg)" et "Iron(mg)" et assigner le résultat à la variable milligrams_of_calcium_and_iron.
* Afficher les résultats.

In [ ]:
grams_of_protein_per_of_water = food_info["Protein_(g)"] / food_info["Water_(g)"]

In [ ]:
milligrams_of_calcium_and_iron = food_info["Calcium_(mg)"] + food_info["Iron_(mg)"]

In [ ]:
print(grams_of_protein_per_of_water[0:5])

In [ ]:
print(food_info[["Protein_(g)", "Water_(g)"]][0:5])

In [ ]:
print(milligrams_of_calcium_and_iron[0:5])

In [ ]:
print(food_info[["Calcium_(mg)", "Iron_(mg)"]][0:5])

## Créer un indice nutritionnel

Score = 2 x (Protein_(g)) - 0.75 x (LipidTot(g))

* Mutiplier la colonne "Protein_(g)" par 2 et assigner le résultat à la variable protein.
* Multiplier la colonne "LipidTot(g)" par -0.75 et assigner le résultat à la variable fat.
* Additionner les variables ensemble et assigner le résultat à la variable rating.
* Afficher le résultat.

In [ ]:
protein = food_info["Protein_(g)"] * 2

In [ ]:
fat = food_info["Lipid_Tot_(g)"] * -0.75

In [ ]:
rating = protein + fat

In [ ]:
print(rating)

## Normaliser des colonnes

In [ ]:
# Series.max()

In [ ]:
# Valeur max de la colonne "Energ_Kcal"
max_calories = food_info["Energ_Kcal"].max()
print(max_calories)

In [ ]:
# Diviser les valeurs de la colonne "Energ_Kcal" par la valeur max de cette même colonne
normalized_calories = food_info["Energ_Kcal"] / max_calories
print(normalized_calories)

Exo
* Normaliser les valeurs de la colonne "Protein_(g)" et assigner le résultat à la variable normalized_protein.
* Normaliser les valeurs de la colonne "LipidTot(g)" et assigner le résultat à la variable normalized_fat.

In [ ]:
max_gram_prot = food_info["Protein_(g)"].max()
normalized_protein = food_info["Protein_(g)"] / max_gram_prot
print(normalized_protein)

In [ ]:
normalized_fat = food_info["Lipid_Tot_(g)"] / food_info["Lipid_Tot_(g)"].max()
print(normalized_fat)

## Créer une nouvelle colonne

In [ ]:
iron_grams = food_info["Iron_(mg)"] / 1000
food_info["Iron_(g)"] = iron_grams

In [ ]:
# La colonne Iron vient d'être créée
food_info

* Assigner la colonne normalisée représentée par la variable normalized_protein à la nouvelle colonne qu'on nommera "Normalized_Protein" dans le dataframe food_info.
* Assigner la colonne normalisée représentée par la variable normalized_fat à la nouvelle colonne qu'on nommera "Normalized_Fat" dans la dataframe food_info.
* Afficher les 5 premières valeurs du dataframe food_info.

In [ ]:
food_info["Normalized_Protein"] = normalized_protein
food_info["Normalized_Fat"] = normalized_fat
food_info[0:5]

## Créer une colonne pour l'indice nutritionnel normalisé

Score = 2 x Normalized_Protein -0.75 x Normalized_Fat

* Utiliser les colonnes Normalized_Protein et Normalized_Fat avec cette formule pour créer une nouvelle colonne qu'on nommera Norm_Nutr_Index.

In [ ]:
norm_nutr_index = (food_info["Normalized_Protein"] * 2) - (0.75 * food_info["Normalized_Fat"])

In [ ]:
food_info["Norm_Nutr_Index"] = norm_nutr_index

In [ ]:
food_info

## Trier un DataFrame

In [ ]:
food_info

In [ ]:
# sort_values()

In [ ]:
food_info.sort_values("Sodium_(mg)")
# On a généré un nouveau Dataframe mais sans modifier l'ancien

In [ ]:
# Trie le dataframe et remplace l'ancien dataframe
food_info.sort_values("Sodium_(mg)", inplace=True)

In [ ]:
food_info

In [ ]:
#Trier de façon décroissant
food_info.sort_values("Sodium_(mg)", inplace=True, ascending=False)

In [ ]:
food_info

* Remplacer le dataframe food_info en triant par rapport à la colonne Norm_Nutr_Index de façon décroissante (du plus grand au plus petit)

In [ ]:
food_info.sort_values("Norm_Nutr_Index", inplace=True, ascending=False)

In [ ]:
food_info[0:5]