# Rappel des bases Python

In [5]:
print('Hello World !')

Hello World !

### Variables et types de données

In [6]:
days = 365

In [7]:
number_days = 365

In [8]:
number_days

365

In [9]:
print(number_days)

365

In [10]:
france = 123

In [11]:
print(type(france))

<class 'int'>

In [12]:
# float - nombres à virgules
data_float = 122.5
print(type(data_float))

<class 'float'>

In [14]:
# string - chaîne de caractère
hello = 'Hello'
print(type(hello))

<class 'str'>

In [15]:
# booléan - true or false
true_type = True
print(type(true_type))

<class 'bool'>

In [17]:
# str() et int() permet une conversion de la variable
str_int = "2"
print(type(str_int))

<class 'str'>

In [18]:
str_int = int(str_int)
print(type(str_int))

<class 'int'>

In [19]:
Blabla = "200"
print(type(Blabla))

<class 'str'>

In [20]:
Blabla = int(Blabla)
print(type(Blabla))

<class 'int'>

In [21]:
Blabla

200

In [22]:
somme = 82 + 95
print(somme)

177

In [24]:
france = 82
spain = 95
somme_france_spain = france + spain
print(somme_france_spain)

177

In [25]:
france_puissance2 = france ** 2
print(france_puissance2)

6724

### Listes et dictionnaires

In [26]:
months = []

In [27]:
# list.append() ajouter des valeurs à une liste
months.append('Janvier')
months.append('Février')
print(months)

['Janvier', 'Février']

In [28]:
print(type(months))

<class 'list'>

In [29]:
months = []
months.append('Janvier')
months.append(1)
months.append('Février')
months.append(2)
print(months)

['Janvier', 1, 'Février', 2]

In [32]:
months = [1, 'Janvier', 2, 'Février', 3]
print(months)

[1, 'Janvier', 2, 'Février', 3]

In [39]:
years = [2013, 2014, 2015, 2016, 2017, 2018]

In [40]:
first_value = years[0]
print(first_value)

2013

In [41]:
years[1]

2014

In [42]:
years[4]

2017

In [43]:
years[0:3]

[2013, 2014, 2015]

In [44]:
# len() détermine la longueur d'une liste
len(years)

6

In [45]:
score = {}

In [46]:
animals = {
    "poules": 120,
    "chèvres": 46,
    "chevaux": 23,
    "vaches": 55
}

In [47]:
print(animals)

{'poules': 120, 'chèvres': 46, 'chevaux': 23, 'vaches': 55}

In [48]:
print(type(animals))

<class 'dict'>

In [50]:
animals["poules"] = 110
animals

{'poules': 110, 'chèvres': 46, 'chevaux': 23, 'vaches': 55}

In [51]:
animals["lions"] = 2

In [52]:
print(animals)

{'poules': 110, 'chèvres': 46, 'chevaux': 23, 'vaches': 55, 'lions': 2}

In [54]:
animals["poules"]

110

### Condition IF/ELSE

In [1]:
age = 29

In [3]:
if (age > 35):
    print(age)
else:
    print('interdit pour toi')

interdit pour toi

### Boucles FOR

In [4]:
cities = ['Paris', 'Madrid', 'Rome']

In [5]:
for city in cities:
    print(city)

Paris
Madrid
Rome

In [9]:
# city est la variable itératrice 
# cities séquance que l'on parcours

In [14]:
fruits = ['citron', 'Banane', 'Pomme', 'Banane', 'Pomme', 'Banane', 'Pomme']

In [15]:
fruits_counts = {}

In [16]:
for item in fruits:
    if item in fruits_counts:
        fruits_counts[item] += 1
    else:
        fruits_counts[item] = 1

In [17]:
print(fruits_counts)

{'citron': 1, 'Banane': 3, 'Pomme': 3}

### Fonctions

In [18]:
def ton_age(age):
    if age >= 60:
        return('âgé')
    else:
        return('jeune')

In [19]:
ton_age(25)

'jeune'

In [20]:
ton_age(70)

'âgé'

In [21]:
def listing(dict):
    liste = []
    for d in dict:
        if dict[d] > 10:
            liste.append(d)
    return liste

In [22]:
notes = {
    'Tom': 12,
    'Nina': 9,
    'Julie': 18,
    'Bob': 5
}

In [23]:
listing(notes)

['Tom', 'Julie']